body pre { white-space: pre !important; }

#custom-palette-canvas,
.images .canvas-container  { max-width: 100%; }

.product-type-custom_palette { }

body.woocommerce #content #main div.images { float: none !important; margin-bottom: 0; text-align: center; width: 100% !important; }
body.woocommerce #content #main div.images img.custom-palette-image { display: inline; width: auto; }
body.woocommerce #content #main div.images img.custom-palette-swatch { position: absolute; }


body.woocommerce #content #main div.summary { float: none; width: 100%; }


.custom-palette-colors { }
    .custom-palette-colors > ul { margin: 30px 0 10px; }
    .custom-palette-colors > ul > li { display: inline-block; padding: 5px 10px; }
    .custom-palette-colors > ul > li a { color: black; }
    .custom-palette-colors > ul > li.ui-state-active,
    .custom-palette-colors > ul > li.ui-state-focus,
    .custom-palette-colors > ul > li.ui-state-hover { background-color: #019cdf; }
    .custom-palette-colors > ul > li.ui-state-active a,
    .custom-palette-colors > ul > li.ui-state-focus a,
    .custom-palette-colors > ul > li.ui-state-hover a { color: white !important; }

    /* prevent FOUC */
    #custom-palette-color-2,
    #custom-palette-color-3,
    #custom-palette-color-4 { display: none; }











/*********MOBILE SIZES**********/

@media screen and (max-width: 1030px) {



}

@media screen and (max-width: 768px) {

    #custom-palette-canvas,
    .images .canvas-container { height: auto !important; width: auto; }

    .custom-palette-colors ul { text-align: center; }
    .custom-palette-color { text-align: center; margin: 0 auto; }
}

@media screen and (max-width: 481px) {
    .custom-palette-color .swatch-wrapper img,
    .custom-palette-color .swatch-wrapper { height: 44px !important; width: 60px !important; padding: 0px !important; }
    .custom-palette-color .swatch-wrapper:nth-child(4n+1){ margin-left: 5px; }
    .custom-palette-colors > ul > li { font-size: .79em; }
}
